body, html {
    height: 100%;
  background-color: #EDEDED;
  font-family: 'Muli', sans-serif;
}

h1 {
font-weight: 200;
font-family: 'Muli', sans-serif;
font-size: 100px;
color: #EDEDED;
}

/* The hero image */
.hero-image {
    /* The image used */
    background-image: url("sfondo1.jpg");

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.header {
  font-weight: 200;
  font-family: 'Muli', sans-serif;
  text-align: center;
  padding:20px;
}

.topnav {
margin-top: 10px;
}
.topnav a {
  float: right;
  display: block;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  color: black;
  font: 15px 'Montserrat', sans-serif;
  margin-right: 5px;
}
.topnav a:hover {
    border-bottom: 1px solid #EDEDED;
}
.active {
  border-bottom: 1px solid #EDEDED;
}

.center {
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

@media screen and (max-width: 600px) {
    .card , .header , .topnav , .footer {
        width: 100%;
    }
}
.gallery {
  margin-top: 50px;
  align-items: center;
}
.small {
  height: 400px;
  filter: opacity(50%);
  transition: 1s;
  align-items: center;
}
.small:hover {
  filter: opacity(100%);
  transform: scale(1.02);
}
.link {
  color: white;
}
.link:hover {
  text-transform: uppercase;
}
